<%- include("partials/header")-%>


<div class="loader container-fluid">
  <div class="info container">
    <div class="content container ">
      <img class="logo-loader" src="images/FEMS.png" alt="">
      <h1 class="content-head">Facility & Estate Management Solutions</h1>
      <p><%=starterAboutP1 %><span class="dots"> ...</span><span class="about2"><%=starterAboutP2 %></span></p>
      <p class="about3"><%=starterAboutP3 %>...</p>
      <form action="/about" class="button-form">
        <button class="GTA" type="submit" name="button">Learn More</button>
      </form>
    </div>
  </div>
</div>

<div class="values-box container-fluid">
  <div class="content-head container">
    <p>What We Stand For.</p>
  </div>
  <div class=" row">
    <div class="col">
      <div class="values">
        <div class="values-head">
          <p>Facility</p>
        </div>
        <div class="values-body">
          <p>Facility Management is our passion and when passion and expertise are integrated its explosive, and only excellence can come out of this combination. </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="values">
        <div class="values-head">
          <p>Estate</p>
        </div>
        <div class="values-body">
          <p>We excell at Estate management and your Estate needs could be placed in no better hands than those of F.E.M.S. </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="values">
        <div class="values-head">
          <p>Management</p>
        </div>
        <div class="values-body">
          <p>Passion, experience, knowledge and service excellence are the drivers of our management team. </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="values">
        <div class="values-head">
          <p>Solutions</p>
        </div>
        <div class="values-body">
          <p>We are the solution to your facility and estate management needs. </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="services container-fluid">
  <div class="services-box container">
    <div class="content container">
      <div class="content-head container">
        <p>Services</p>
      </div>
      <p>We offer a vast range of services tailored to your needs as a client, we only work with the utmost care and dedication.
        It is up to us to give a you service that you deserve and will not regret. With our experience and expertise you will recieve complete and professional co-opertation.
        You can trust us to leave your duties as a trustee to us. If you want us to do something that is not provided please feel free to contact us.
      </p>
      <form action="/services" class="button-form">
        <button class="GTA" type="submit" name="button">Learn More</button>
      </form>
    </div>
  </div>
</div>

<div id="Reviews" class="review container-fluid">
  <div class="content-head container">
    <p>Words From People Who Trust Us.</p>
  </div>
  <div class="row">
    <div class="col">
      <div class="review-block">
        <div class="review-content">
          <p><i class="fas fa-quote-left"></i>A major influence on the fluency of the job, was Will.
              Without a doubt his expertise and keen eye for detail and intimate knowledge of the building, played a major role in assisting Pivot to identify and rectify any snags that occurred.
              His communication with the foreman, as well as ourselves was highly valued. We are of the opinion that Will is an asset to the operational efficiency of the building as well as the Body Corporate.<i class="fas fa-quote-right"></i></p>
          <div class="review-info">
            <p class="review-name">Kamekho Consulting</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="review-block ">
        <div class="review-content">
          <p><i class="fas fa-quote-left"></i>Having worked with the guys from Facilities & Estate management Solutions, I was impressed with their Estate Management service and the knowledge they applied in running our Body Corporate, I can most certainly recommend their services if you have a need for an Estate Manager<i class="fas fa-quote-right"></i></p>
            <div class="review-info">
              <p class="review-name">Mike V</p>
            </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="review-block">
        <div class="review-content">
          <p><i class="fas fa-quote-left"></i>Facilities & Estate management Solutions is the most valuable business resource we have EVER purchased, the way they handled the Body Corporate and the way the worked with such efficiency was great and saved a lot of time and money for our facility.<i class="fas fa-quote-right"></i></p>
            <div class="review-info">
              <p class="review-name">Madelein</p>
            </div>
        </div>
      </div>
    </div>
  </div>
  <form action="/addreview" class="button-form">
    <button class="GTA" type="submit" name="button">Add Review</button>
  </form>
</div>

<div id="Contact" class="contact container-fluid">
  <div class="contact-container container">
    <div class="content-head container">
      <p>Contact Us</p>
    </div>
    <div class="contact-inner container">
      <div class="contact-info container">
        <i class="fas fa-phone"></i><span>+27 72 091 2266-Will Walis(Director)</span>
        <i class="fas fa-envelope"></i><span>info@femsolutions.co.za</span>
      </div>
          <div class="contact-form container">
            <form class="" action="/send" method="post" id="contactForm">
            <input class="input-field" type="text" name="firstName" id="fName" placeholder="First Name" value="" required>
            <input class="input-field" type="text" name="lastName" id="lName" placeholder="Last Name" value="" required>
            <input id="contactEmailValidate" onclick="validate()" id="eMail" class="input-field" type="email" name="eMail" placeholder="E-Mail" value="" required>
            <input class="input-field" type="number" name="phone" placeholder="Phone" value="" required>
            <div class="textarea-container container"><textarea class="contact-textarea" rows="2" cols="80"  name="message" placeholder="Your Message Here..." required></textarea></div>
            <div class="recaptcha-box">
              <div class="g-recaptcha" data-sitekey="6LdtM28dAAAAAA9QGr0BZZRUMnmlFQ48Ulre36kq"></div>
            </div>
            <div class="button-form"><button class="GTA" type="submit" name="button">Send Message</button></div>

            </form>
          </div>
    </div>
  </div>
</div>

<script>
  document.getElementById('contactForm').addEventListener('submit',submitForm);

  function submitForm(e){
    e.preventDefault();
    const fName = document.querySelector('#fName');
    const lName = document.querySelector('#lName'');
    const email = document.querySelector('#eMail');
    const captcha = document.querySelector('#g-recaptcha-response').value;

    fetch('/send',{
      method : 'POST',
      headers:{
        'Accept':'application/json , text/plain , */*',
        'Content-type':'application/json'
      },
      body:JSON.stringify({fName:fName, lName:lName, email:email, captcha:captcha})
    })
    .then((res) => res.json())
    .then((data) => {
      console.log(data);
      alert(data.msg);
    })
  }
</script>

<%- include("partials/footer")-%>
